{% load staticfiles%}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Inbox</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{%static 'internal/dashboard_base_style.css'%}">
  </head>
  <body>    
    <div id="nav">
      <div class="user-banner"><img src="{{user_picture}}"/>
        <h5 class="username">{{user.first_name|add:" "|add:user.last_name}}</h5>
      </div>
      <ul>
        <li class="head"></li>
        <li><a href="/internal/home"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a></li>
        <li class="active"><a href="/internal/inbox/"><i class="fa fa-fw fa-inbox"></i><span class="swatch light-grey">Inbox</span></a></li>
        <li><a href="/internal/sessions/"><i class="fa fa-fw fa-user"></i><span>Sessions</span></a></li>
        <li><a href="/internal/videos/"><i class="fa fa-fw fa-video-camera"></i><span>Videos</span></a></li>
        <li><a href="/internal/settings/"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
        <li class="rating-title"><a href=""><span></span></a></li>
        <li class="rating-title"><a href=""><span></span></a></li>
        <li class="rating-title"><a href=""><span>Rating</span></a></li>
        <div class="progress clear-right">
                  <div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{rating_percent}}%;" class="progress-bar">{{rating}}<span class="sr-only">{{rating_percent}}% Complete</span></div>
        </div>
        <li class="rating-title"><a href=""><span></span></a></li>
        <li class="rating-title"><a href=""><span></span></a></li>
        <li class="rating-title"><a href=""><span></span></a></li>
        <li class="signout"><a href="/internal/logout/"><i class="fa fa-fw fa-sign-out"></i><span>Log Out</span></a></li>
      </ul>
    </div>
    <div id="main">
      <header>
        <span class="header-title">Inbox</span> <small>Check requests and questions that pretain to your course in more detail</small>
      </header>
      <div id="content">
        <h1 class="section-title">Recent Requests</h1>
        {% if requests %}
        {% for request in requests %}
          <div class="timeline">
            <div class="item">
              <div class="circle"></div>
              <div class="message">
                <Here><h4>{{request.course.code}}</h4>{{request.description}}</Here>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div style="margin-top: 20px;" class="box">
          <div class="body">
            <p>There are no requests for your course!</p>
          </div>
        </div>
        {% endif %}
        <h1 class="section-title">Recent Questions</h1>
        {% if questions %}
        {% for question in questions%}
        <div class="timeline">
          <div class="item">
            <div class="circle"></div>
            <div class="message">
              <Here>{{question.student_id}}: {{question.text}}</Here>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div style="margin-top: 20px;" class="box">
          <div class="body">
            <p>No questions have come your way lately!</p>
          </div>
        </div>
        {% endif %}
      </div> <!-- End content -->
    </div> <!--End Main-->
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
    <script src="{%static 'internal/home_Script.js' %}"></script>  
  </body>
</html>
