{% load staticfiles%}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Schedule a Session</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{%static 'internal/dashboard_base_style.css'%}">
    <link rel="stylesheet" href="{%static 'internal/sessions/sessions_style.css'%}">
  </head>
  <body>    
    <div style="margin-left:0;" id="main">
      <header>
        <span class="header-title">Send Email to All Students Enrolled in {{email.course}}</span> 
      </header>
      <div id="content">
       {% if accepted %}
          <h1 class="section-title">Thank You!</h1>
          <div class="container">
          <h2>Email sent to {{email.students|length}} students!</h2>
          <br><br>
          <a href="../../home/" class='btn'>Return Home</a>
          </div>
       {% else %}
 	<div class="timeline">
          <div class="item">
            <div class="circle"></div>
            <div class="message">
		<b>Subject</b>: <br><br> {{email.subject}}
            </div>
          </div>
          
          <div class="item">
            <div class="circle"></div>
            <div class="message">
		<b>Body</b>: <br><br>
		{{email.body}}
            </div>
          </div>
          <div class="item">
            <div class="circle"></div>
            <div class="message">
              This email will be sent to {{students|length}} students.
            </div>
          </div>
        </div>
      </div>    
    </div> 
        <div class="schedule-form">
	<br><br><br>
         <div class="container" >
            <form class="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.non_field_errors}}

              <div class="form-footer">
                <input type="submit" class="btn" value="Send Email" />
              </div>
            </form>
          </div>
        {% endif %}

      </div> <!-- End content -->
    </div> <!--End Main-->
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
    <script src="{%static 'internal/home_Script.js' %}"></script>  
  </body>
</html>
