{% load staticfiles%}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{%static 'internal/dashboard_base_style.css'%}">
    <link rel="stylesheet" href="{%static 'internal/sessions/sessions_style.css'%}">
  </head>
  <body>    
    <div id="nav">
      <div class="user-banner"><img src="{{user_picture}}"/>
        <h5 class="username">{{user.first_name|add:" "|add:user.last_name}}</h5>
      </div>
      <ul>
        <li class="head"></li>
        <li><a href="../home"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a></li>
        <li><a href="../inbox/"><i class="fa fa-fw fa-inbox"></i><span class="swatch light-grey">Inbox</span></a></li>
        <li><a href="../sessions/"><i class="fa fa-fw fa-user"></i><span>Sessions</span></a></li>
        <li><a href="../videos/"><i class="fa fa-fw fa-video-camera"></i><span>Videos</span></a></li>
        <li class="active"><a href="../settings/"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="rating-title"><a href="#"><span>Rating</span></a></li>
        <div class="progress clear-right">
                  <div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{rating_percent}}%;" class="progress-bar">{{rating}}<span class="sr-only">{{rating_percent}}% Complete</span></div>
        </div>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="signout"><a href="../logout/"><i class="fa fa-fw fa-sign-out"></i><span>Log Out</span></a></li>
      </ul>
    </div>
    <div id="main">
      <header>
        <span class="header-title">Settings</span> 
      </header>
      <div id="content">
        <div class="schedule-form">
        {% if accepted %}
          <h1 class="section-title">Thank You!</h1>
          <div class="container">
          <h2>Your changes have been recorded!</h2>
          <br><br>
          <a href="../home/" class='btn'>Log Me Back In!</a>
          </div>
        {% else %}
          <div class="container" >
            <form class="form" action="" method="post">
            {% csrf_token %}
              <fieldset class="form-fieldset ui-input __first">
                <input type="password" id="password" name="password" tabindex="0" />
                <label for="unit">
                  <span data-text="Password">Password</span>
                  {{form.password.errors}}
                </label>
              </fieldset>

              <fieldset class="form-fieldset ui-input __second">
                <input type="password" id="repeat_password" name="repeat_password" tabindex="0"/>
                <label for="repeat_password">
                  <span data-text="Repeat Password">Repeat Password</span>
                  {{form.repeat_password.errors}}
                </label>
              </fieldset>           

              <fieldset class="form-fieldset ui-input __third">
                <div class="file-upload">
                <div class="file-select">
                  <div class="file-select-button" id="fileName">Choose File</div>
                  <div class="file-select-name" id="noFile">Employee Picture</div> 
                  <input type="file" name="attachment" id="attachment">
                  {{form.picture.errors}}
                </div>
              </div>
              </fieldset>

              {{form.non_field_errors}}

              <div class="form-footer">
                <input type="submit" class="btn" value="Submit Changes" />
              </div>
            </form>
          </div>
        {% endif %}
      </div>






        <div style="margin-top: 20px;" class="box">
          <div class="body">
            <p>You do not yet have the ability to change any other account settings</p>
          </div>
        </div>
      </div>
    </div>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
    <script src="{%static 'internal/home_Script.js' %}"></script>  
  </body>
</html>
