{% load staticfiles%}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Post a Video</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{%static 'internal/dashboard_base_style.css'%}">
    <link rel="stylesheet" href="{%static 'internal/sessions/sessions_style.css'%}">
  </head>
  <body>    
    <div id="nav">
      <div class="user-banner"><img src="{{user_picture}}"/>
        <h5 class="username">{{user.first_name|add:" "|add:user.last_name}}</h5>
      </div>
      <ul>
        <li class="head"></li>
        <li><a href="../home"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a></li>
        <li><a href="../inbox/"><i class="fa fa-fw fa-inbox"></i><span class="swatch light-grey">Inbox</span></a></li>
        <li><a href="../sessions/"><i class="fa fa-fw fa-user"></i><span>Sessions</span></a></li>
        <li class="active"><a href="../videos/"><i class="fa fa-fw fa-video-camera"></i><span>Videos</span></a></li>
        <li><a href="../settings/"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="rating-title"><a href="#"><span>Rating</span></a></li>
        <div class="progress clear-right">
                  <div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{rating_percent}}%;" class="progress-bar">{{rating}}<span class="sr-only">{{rating_percent}}% Complete</span></div>
        </div>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="rating-title"><a href="#"><span></span></a></li>
        <li class="signout"><a href="../logout/"><i class="fa fa-fw fa-sign-out"></i><span>Log Out</span></a></li>
      </ul>
    </div>
    <div id="main">
      <header>
        <span class="header-title">Post a Video</span> <small>Make sure to <a target="_blank" href="readme">view this README document</a> before posting your video</small>
      </header>
      <div id="content">
        <div class="schedule-form">
        {% if accepted %}
          <h1 class="section-title">Thank You!</h1>
          <div class="container">
          <h2>Crunchtime videos make the world go round!</h2>
          <br><br>
          <a href="../home/" class='btn'>Return Home</a>
          </div>
          {% else %}
          <div class="container" >
            <form class="form" action="" method="post">
                  {% csrf_token %}

              <fieldset class="form-fieldset ui-input __third">
                <input type="text" id="title" name="title" tabindex="0" value="{{initial.title}}"/>
                <label for="title">
                  <span data-text="Title">Title</span>
                  {{form.title.errors}}
                </label>
              </fieldset>

              <fieldset class="form-fieldset ui-input __fourth">
                <input type="text" id="description" name="description" value="{{initial.description}}"/>
                <label for="description">
                  <span data-text="Description About the Session">Description About the Session</span>
                  {{form.description.errors}}
                </label>
              </fieldset>
              
              <fieldset class="form-fieldset ui-input __third">
                <input type="text" id="unit" name="unit" tabindex="0" value="{{initial.unit}}"/>
                <label for="unit">
                  <span data-text="Unit">Unit</span>
                  {{form.unit.errors}}
                </label>
              </fieldset>

              <fieldset class="form-fieldset ui-input __third">
                <input type="text" id="section" name="section" tabindex="0" value="{{initial.section}}"/>
                <label for="section">
                  <span data-text="Section">Section</span>
                  {{form.section.errors}}
                </label>
              </fieldset>

              <fieldset class="form-fieldset ui-input __third">
                <input type="text" id="video_url" name="video_url" tabindex="0" value="{{initial.video_url}}"/>
                <label for="unit">
                  <span data-text="Video URL">Video URL</span>
                  {{form.video_url.errors}}
                </label>
              </fieldset>

              <fieldset class="form-fieldset ui-input __third">
                <input type="text" id="picture_url" name="picture_url" tabindex="0" value="{{initial.picture_url}}"/>
                <label for="picture_url">
                  <span data-text="Picture URL">Picture URL</span>
                  {{form.picture_url.errors}}
                </label>
              </fieldset>           

              <fieldset class="form-fieldset ui-input __fifth">
                <select name="course" id="course" name="course" tabindex="0" value="{{initial.course}}">
                  <option>Please choose a course</option>
                  {% for course in courses%}
                    <option value="{{course.id}}">{{course.code}}: {{course.name}}</option>
                  {% endfor %}
                  </select>
                  <label for="course">
                    {{form.course.errors}}
                  </label>
              </fieldset>


              <div class="form-footer">
                <input type="submit" class="btn" value="Post Video" />
              </div>
            </form>
          </div>
        {% endif %}
      </div>




      </div> <!-- End content -->
    </div> <!--End Main-->
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
    <script src="{%static 'internal/home_Script.js' %}"></script>  
  </body>
</html>
